<div class="container">
  <div class="card p-3 mt-5">
    <h2>Criar Conta Corrente</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false,  controller: "mask"}) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :full_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "full_name" },
                label: 'Nome completo' %>
        <%= f.input :cpf,
                required: true,
                input_html: { autocomplete: "cpf" },
                label: 'CPF', input_html: { data: { action: "input->mask#inputmask", mask:"cpf" }, maxlength: 14 } %>
        <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" },
                label: 'e-mail' %>
        <%= f.input :phone_number,
                required: false,
                input_html: { autocomplete: "phone_number" },
                label: 'Telefone' %>
        <%= f.input :address,
                required: false,
                input_html: { autocomplete: "address" },
                label: 'Endereço' %>
        <%= f.input :password,
                required: true,
                hint: ("no mínimo #{@minimum_password_length} caracteres" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                label: 'Senha' %>
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                label: 'Senha' %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Cadastrar", class:'btn btn-outline-dark border-pattern'%>
      </div>
    <% end %>
  </div>
  <div class="container mb-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
