<div class="container">
  <h3>CPF <%= @user.cpf %></h3>
  <h1>Bem vindo <%= @user.full_name %></h1>
  <p>Saldo: <%= @user.balance %></p>
  <%= @user.email %>
  <h2>Conta: <%= @user.account_number %></h2>
</div>
