<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-sm-12 col-lg-6">
      <div class=" card card-min-height" >
        <div class="card-body">
          <h2>Bem vindo, <%= @user.full_name %></h2>
          <hr>
          <p><strong>Conta corrente: <%= @user.account_number %></strong></p>
            <p>CPF: <%= @user.cpf %></p>
            <p>E-mail: <%= @user.email %></p>


          <div class="card-saldo">
          <h3><strong>Saldo: <%= number_to_currency(@user.balance, :unit => "R$ ", :separator => ",", :delimiter => ".") %></strong></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="card card-min-height" >
        <div class="card-body">
          <h2>Transações:</h2>
          <div class="container d-flex justify-content-center mt-5">
            <div class="btn-group-vertical " role="group" aria-label="Vertical button group">
              <%= link_to "Depósito", deposit_path(current_user), class: "btn btn-dark" %>
              <%= link_to "Saque", withdraw_path(current_user), class: "btn btn-dark" %>
              <%= link_to "Transferência entre Contas", transfer_between_accounts_path(current_user), class: "btn btn-dark" %>
              <%= link_to "Solicitar Extrato", transactions_path(current_user), class: "btn btn-dark" %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
