<div class="container">
  <div class="card p-3 mt-5">
  <h2>Login</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false,  controller: "mask"}) do |f| %>
    <div class="form-inputs">
      <%= f.input :cpf,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "cpf" },
                label: 'CPF', input_html: { data: { action: "input->mask#inputmask", mask:"cpf" }, maxlength: 14 } %>

      <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" },
                label: 'Senha' %>
      <%# <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Entrar", class:'btn btn-outline-dark border-pattern' %>
    </div>
  <% end %>
  </div>
  <div class="container mt-2">
  <%= render "devise/shared/links" %>
  </div>
</div>
